@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;

  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
